MONGO_DBNAME=example
MONGO_URI=mongodb://localhost:27017/example
FLASK_APP=app.py
FLASK_ENV=development
GITHUB_REPO=https://github.com/your-repository-url # unnecessary for basic operations
GITHUB_SECRET=your_github_secret # unnecessary for basic operations
